/* default: 16px */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.fake-img {
    border: 1px solid black;
    padding: 1.25rem; 
    text-align: center;
    background: #ddd;
}

/* Header */
header {
    padding: 3.75rem;
    text-align: center;
    background-color: #1abc9c;
    color: #fff;
}

/* Links */
nav  {
    display: flex;
    background-color: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.875rem 1.25rem;
    text-align: center;
}

/* container to split the webpage into 2 */
div.wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* left col */
aside.left-col {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 1.25rem; 
}

/* main col */
main.main-col {
    flex: 70%;
    padding: 1.25rem;

    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

/* Footer */
footer {
    text-align: center; /* justification */
    padding: 1.25rem;
    background-color: #ddd;
}

@media screen and (max-width: 900px) {
    div.wrapper {
        flex-direction: column;
    }
}